:root {
    --bg: #fdfdfd;
    --highlight1: #f5821f;
    --highlight2: #ED4264;
    --color: #1a1e24;
}

.servicesTitle{
    text-align: center;
    padding: 15px 0px 15px 0px;
}

.servicesGrid {
    
    padding: 15px;
}

.servicesPaper {
    padding: 5px 15px;
}

.servicesPaper.right {
    text-align: right;
}

.servicesPaper ul {
    list-style: none;
}

.servicesPaper ul li {
    display: block;
    clear: both;
    list-style-type: none;
    padding-bottom: 0.5rem;
    font-size: 0.8rem;
    position: relative;
}

.servicesPaper ul li:before {
    font-weight: bold;
    font-size: 1.5rem/1;
    content: attr(dot);
    width: 1rem;
    height: 1rem;
    float: left;
    margin: 0.275rem 0.5rem 0rem 0;
    color: var(--bg);
    background: var(--highlight1) linear-gradient(to bottom right, var(--highlight1) 25%, var(--highlight2));
    text-shadow: 0 0 2px var(--highlight1);
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    shape-outside: ellipse();
    z-index: 1;
}

.servicesPaper.right ul li:before{
    float: right;
    margin: 0.275rem 0rem 0.5rem 0;
}

.servicesPaper ul li span {
    font-size: 1.1rem;
    margin-top: -5px;
}

.servicesPaper.right  ul li span {
    margin-right: 10px;
}