.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-nav {
    background-color: #282c34;
    min-height: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    font-family: TypoSquareDemoBold;
    font-size: calc(10px + 2vmin);
}

.App-logoContainer {
    background-color: black;
    height: 64px;
    width: 100px;
    margin-right: 15px;
    margin-left: -24px;
    padding-left: 20px;
    padding-right: 5px;
}

.App-logoContainer img {
    height: 64px;
    width: 64px;
}

.App-introduction {
    width: 100%;
    height: 500px;
    background-image: url('/images/desk.jpg'); /* Source https://pxhere.com/en/photo/1452227 */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 10px;
}

.App-introduction img {
    height: inherit;
    width: inherit;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
    font-family: TypoSquareDemo;
    src: local('TypoSquareDemo'),
    local('TypoSquareDemo-Regular'),
    url("/assets/fonts/Typo-Square/Typo-Square-Regular-Demo.otf") format("opentype");
}

@font-face {
    font-family: TypoSquareDemoItalic;
    font-style: italic;
    src: local('TypoSquareDemo Italic'),
    local('TypoSquareDemo-Italic'),
    url("/assets/fonts/Typo-Square/Typo-Square-Italic-Demo.otf") format("opentype");
}

@font-face {
    font-family: TypoSquareDemoLighter;
    font-weight: lighter;
    src: local('TypoSquareDemo Lighter'),
    local('TypoSquareDemo-Lighter'),
    url("/assets/fonts/Typo-Square/Typo-Square-Light-Demo.otf") format("opentype");
}

@font-face {
    font-family: TypoSquareDemoLighterItalic;
    font-weight: lighter;
    font-style: italic;
    src: local('TypoSquareDemo Lighter Italic'),
    local('TypoSquareDemo-Lighter-Talic'),
    url("/assets/fonts/Typo-Square/Typo-Square-Light-Italic-Demo.otf") format("opentype");
}

@font-face {
    font-family: TypoSquareDemoBold;
    font-weight: bold;
    src: local('TypoSquareDemo Bold'),
    local('TypoSquareDemo-Bold'),
    url("/assets/fonts/Typo-Square/Typo-Square-Bold-Demo.otf") format("opentype");
}

@font-face {
    font-family: TypoSquareDemoBoldItalic;
    font-weight: bold;
    font-style: italic;
    src: local('TypoSquareDemo Bold Italic'),
    local('TypoSquareDemo-Bold-Talic'),
    url("/assets/fonts/Typo-Square/Typo-Square-Bold-Italic_Demo.otf") format("opentype");
}