.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-nav {
    background-color: rgba(255, 255, 255, 1) !important;
    min-height: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    font-family: TypoSquareDemoBold;
    font-size: calc(10px + 2vmin);
    text-shadow: 2px 2px whitesmoke;
}

.App-logoContainer {
    height: 64px;
    width: 100px;
    margin-right: 15px;
    margin-left: -24px;
    padding-left: 20px;
    padding-right: 5px;
}

.App-logoContainer img {
    height: 64px;
    width: 64px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
    font-family: TypoSquareDemo;
    src: local('TypoSquareDemo'),
    local('TypoSquareDemo-Regular'),
    url("/assets/fonts/Typo-Square/Typo-Square-Regular-Demo.otf") format("opentype");
}

@font-face {
    font-family: TypoSquareDemoItalic;
    font-style: italic;
    src: local('TypoSquareDemo Italic'),
    local('TypoSquareDemo-Italic'),
    url("/assets/fonts/Typo-Square/Typo-Square-Italic-Demo.otf") format("opentype");
}

@font-face {
    font-family: TypoSquareDemoLighter;
    font-weight: lighter;
    src: local('TypoSquareDemo Lighter'),
    local('TypoSquareDemo-Lighter'),
    url("/assets/fonts/Typo-Square/Typo-Square-Light-Demo.otf") format("opentype");
}

@font-face {
    font-family: TypoSquareDemoLighterItalic;
    font-weight: lighter;
    font-style: italic;
    src: local('TypoSquareDemo Lighter Italic'),
    local('TypoSquareDemo-Lighter-Talic'),
    url("/assets/fonts/Typo-Square/Typo-Square-Light-Italic-Demo.otf") format("opentype");
}

@font-face {
    font-family: TypoSquareDemoBold;
    font-weight: bold;
    src: local('TypoSquareDemo Bold'),
    local('TypoSquareDemo-Bold'),
    url("/assets/fonts/Typo-Square/Typo-Square-Bold-Demo.otf") format("opentype");
}

@font-face {
    font-family: TypoSquareDemoBoldItalic;
    font-weight: bold;
    font-style: italic;
    src: local('TypoSquareDemo Bold Italic'),
    local('TypoSquareDemo-Bold-Talic'),
    url("/assets/fonts/Typo-Square/Typo-Square-Bold-Italic_Demo.otf") format("opentype");
}